@import url("/node_modules/@fortawesome/fontawesome-free/css/all.min.css");

html {
  display: flex;
  flex-direction: column;
}

h1 {
  color: white;
  font-size: 1.5rem;
  flex: 1;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #279989;
  flex-wrap: wrap;
  padding: 1rem;
}

nav > ul li {
  list-style-type: none;
  color: white;
  font-size: small;
}

nav ul {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

a {
  color: white;
  text-decoration: none;
}

main {
  flex: 1;
}

.total-purchases {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  background-color: #44a080;
  padding: 2rem;
  color: white;
}
